body {
  @apply text-chalk font-body antialiased;
  background-color: #0B0B0D;
  background-image: url('/bg.png');
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

body > * {
  transform: scaleX(-1);
}
